@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("/AppleSDGothicNeoR.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  width: 100%;
  max-width: 560px;
  height: 100%;
}

* {
  font-family: "Apple SD Gothic Neo", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
